@model IEnumerable<apteka.Models.Lek>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qena)
            </td>
            <td>
                    <div>
                        <h3>@item.Foto</h3>
                        @if (!string.IsNullOrEmpty(item.Foto))
                        {
                            <img src="~/webp/a.webp"  alt = "@item.Foto" style = "max-width: 200px;" />
                        }
                    </div>
            </td> 
    @if (Login == 1 && Password == 1)
                {
                    <td> 
                        <a asp-action="Edit" asp-route-id="@item.IDL">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDL">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDL">Delete</a>
            </td>}

        </tr>
}
    </tbody>
</table>
